<div class="chordPicker">
    <style type="text/css">
        .chord-picker {
            width: 100%;
            height: 100px;
            margin: 0 auto;
            padding: 0 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .chord-picker-display {
            width: 100%;
            height: 30px;
            text-align: center;
        }
        .root {
            height: 100%;
            width: 30%;
            float: left;
        }
        .alt {
            height: 100%;
            width: 30%;
            float: left;
        }
        .type {
            height: 100%;
            width: 40%;
            float: left;
        }
        .wslot-item-selected {
            font-weight: bold;
        }
    </style>
    <!-- <div class="chord-picker-display"></div> -->
    <div class="chord-picker">
        <div class="root">
        </div>
        <div class="alt">
        </div>
        <div class="type">
        </div>
    </div>
</div>